<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/public/css/home.css">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>

<body>
    <header>

    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>