<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>

<body>
    <header>

    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>