{{!-- handlebar addcomment create by zliu442 --}}

<div class="container">
  <p>Add your comment here!</p>
  {{!-- the field for respondee is for reserve and current unavailable --}}
  
  {{#if article}}
    <p>Reply to {{article.user_name}}</p> for {{article.title}}
  {{/if}}
  {{#if comment}}
    <p>Reply to {{comment.user_name}}</p> for {{comment.content}}
  {{/if}}

  <form action="/addcomment" method="POST">

  
    <fieldset>
      <legend>Content</legend>

  {{!-- line 21-28 for testing only     --}}
      <p>
        <label for="article_id" class="idsearcher">Article id</label><br />
        <input type="integer" size="10" name="articleid" id="content_id"/>
      </p>
      <p>
        <label for="comment_id" class="idsearcher">Comment id</label><br />
        <input type="integer" size="10" name="commentid" id="content_id"/>
      </p>

      <p>
        <label for="name_id" class="addcontent">Content</label><br />
        <input type="text" size="10000" name="content" id="content_id"/>
      </p>

    </fieldset>

      
    <p>
      <input type="submit" name="submit_button" id="submit_id" value="Done!" />
      <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </p>
  </form>

</div>