<head>
  <link rel="stylesheet" href="/css/deleteuser.css">
</head>

<div class="container">
  <h1>Please double check if you want to delete user. Enter your user id to confirm.</h1>
  <form action="./userDelete" method="get">
    <label for="userid">User Id:</label>
    <input type="number" id="userid" name="userid"><br>
    <input type="submit" name="submit_button" id="submit_id" value="Submit" class="button" />
    <input type="reset" name="reset_button" id="reset_id" value="Clear" class="button" />
  </form>
</div>