<div class="container">
    <h1>Delete</h1>
    <form action="./userDelete" method="get">
        <label for="userid">User Id:</label>
        <input type="number" id="userid" name="userid"><br>
        <input type="submit" name="submit_button" id="submit_id" value="Submit" />
        <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </form>
</div>