<div class="container">
    <h1>Login</h1>
    <form action="./userLogin" method="post">
        <label for="account">Account:</label>
        <input type="text" id="account" name="account"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" name="submit_button" id="submit_id" value="Submit" />
        <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </form>
    <a href="./toRegister">New user? Register here please! </a>
</div>