<div>
    <h2>Profile</h2>
    <h4>Id : {{user.id}}</h4>
    <h4>Name : {{user.account}}</h4>
    <h4>birthday : {{user.birthday}}</h4>
    <h4>Description : {{user.description}}</h4>
    <a href="/toDashboard">Return</a>
    <a href="/toDelete">Delete user</a>
</div>