<div class="container">
    <h1>Register</h1>
    <form action="./userRegister" method="post">
        <label for="account">Account:</label>
        <input type="text" id="account" name="account"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="40">Please introduce yourself</textarea>
        <input type="submit" name="submit_button" id="submit_id" value="Submit" />
        <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </form>
</div>