<h1>Edit Article</h1>
<form id="edit-article-form" method="get" action="/updateArticleRoutes">
    <input type="hidden" name="userid">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="Content">{{content}}</textarea>
    <input type="category" name="categoryid" placeholder="category">
    <button type="submit">Update Article</button>
</form>