<h1>Edit Article</h1>
  <a href="/toDashboard">Return</a>
<form id="edit-article-form" method="post" action="/updateArticleRoutes">
    <input type="hidden" name="userid">
    <input type="hidden" name="articleId" id="articleId" value="{{articleId}}">
    <label for="title-input">Title:</label>
    <input type="text" name="title" placeholder="Title">
    <label for="category-input">Category:</label>
    <input type="text" name="categoryid" id="category-input" placeholder="category">
        <label for="content-textarea">Content:</label>
    <textarea id="mytextarea" name="content">Please enter your content here!</textarea>
    <button type="submit">Submit</button>
</form>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const articleId = urlParams.get('articleId');
    document.getElementById('articleId').value = articleId;
</script>

<script src="https://cdn.tiny.cloud/1/kindgwy6154gcl4sj7ok1lzziypb6p5k0ilsttw63g7anvj8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
</script>