<head>
    <link rel="stylesheet" href="css/userLogin.css">
</head>

<a href="/">
    <img class="logo" src="/images/white-logo.png" width="200" height="200" alt="Logo Description">
</a>

<div>
    <form action="./userLogin" method="post" class="login">
        <p>General user</p>
        <input type="text" id="account" name="account" placeholder="Account">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" class="btn" value="SUBMIT"><br>
        <a href="./toRegister">New user? Register here please! </a>
    </form>

    <form action="./adminLogin" method="post" class="login">
        <p>Admin</p>
        <input type="text" id="admin_account" name="admin_account" placeholder="Account">
        <input type="password" id="admin_password" name="admin_password" placeholder="Password">
        <input type="submit" name="submit_button" id="submit_id" class="btn" value="SUBMIT">
    </form>
</div>