{{!-- <div class="container">
    <h1>Login</h1>
    <form action="./userLogin" method="post">
        <label for="account">Account:</label>
        <input type="text" id="account" name="account"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" name="submit_button" id="submit_id" value="Submit" />
        <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </form>
    <a href="./toRegister">New user? Register here please! </a>
    <p>Admin Login: </p>
    <form action="./adminLogin" method="post">
        <label for="admin_account">Admin Account:</label>
        <input type="text" id="admin_account" name="admin_account"><br>
        <label for="admin_password">Admin Password:</label>
        <input type="admin_password" id="admin_password" name="admin_password"><br>
        <input type="submit" name="submit_button" id="submit_id" value="Submit" />
        <input type="reset" name="reset_button" id="reset_id" value="Clear" />
    </form>
</div> --}}

<head>
    <link rel="stylesheet" href="css/userLogin.css">
</head>


<form action="./userLogin" method="post" class="login">
    <p>General user</p>
    <input type="text" id="account" name="account" placeholder="Account">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" class="btn" value="SUBMIT">
</form>

<form action="./adminLogin" method="post" class="login">
    <p>Admin</p>
    <input type="text" id="admin_account" name="admin_account" placeholder="Account">
    <input type="admin_password" id="admin_password" name="admin_password" placeholder="Password">
    <input type="submit" name="submit_button" id="submit_id" class="btn" value="SUBMIT">
</form>