

body {
    font-family: "Ubuntu",sans-serif;
}

.navbar{
    position: fixed;
    background-color: #333;
    width: 100%;
    padding: 30px 0;
    top: 0;
    left: 0%;
    transition: .3s linear;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}
  
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

a {
    color: #48dbfb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #3498db;
    text-decoration: underline;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}
  
.navbar-menu a:hover{
    color: #48dbfb !important;
}

.comment_a{
    background-color: #333;
    color: #fdfdfd;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.author-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.author-subscribe #subscribetoright{
    margin-left: auto;
}

.comment_a:hover{
    background-color: #0056b3;
    color: #fdfdfd;
}
  
.container {
    width: 80%;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 3fr 2fr; 
    grid-template-rows: auto; 
    grid-gap: 1rem; /* Spacing between grid items */
}

.article-section, 
.comment-section {
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-right: 2px solid #ccc;
}

.article-content {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 3px;
    border-radius: 15px;
}

.article-section:last-child,
.comment-section:last-child {
    border-bottom: none;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    font-size: 1.6rem;
    color: #444;
}

.article-content p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;    
}

.first-tier-comment, 
.second-tier-comment {
    background-color: #fff;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}

.second-tier-comment {
    margin-left: 20px;
}

button {
    background:#222;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#like-button {
    background-color: transparent;
    color: red;
    font-size: 1.5rem;
}

#like-count {
    margin-top: 10px;
}

.navbar-menu .hiuser{
    color: gray;
}

.authorall{
    display: flex;
    flex-direction: row;
}

.authorcenter{
    margin-left: 20px;
}

.userimage{
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        width: 90%;
    }
    .article-section{
        border-bottom: #ccc 2px solid;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}
