body {
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background: url(../images/rainy.gif) ;
    background-repeat: no-repeat;
    background-size: cover;}
    
.container {
        width: 75vw;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.7s ease forwards;
        
    }
    
    

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.category-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.articles-list {
    list-style-type: none;
    padding: 0;
}

.article-item {
    margin-bottom: 20px;
    background-color: #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.article-item:hover {
    background-color: #dedede;
    transform: scale(1);
}

.article-link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
}

.article-link:hover .article-title {
    font-weight: bold;
}

.article-title {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.article-content {
    font-size: 16px;
    padding: 0;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#back-to-top:hover {
    opacity: 1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.article-link {
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
}

.meta-info {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.meta-author, .meta-time {
    font-size: 12px; 
}
